<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Open_URL</key>
	<string>여기에 open url을 입력하세요</string>
	<key>Request_URL</key>
	<string>여기에 request url을 입력하세요</string>
</dict>
</plist>
